:root {
    /* FONTS */
    --regular: "Arial";
    --fancy: "Times New Roman";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown: #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --white: #FFF;
    --black: #000;

    --big-square-height: 1000px;
    --big-square-width: 1000px;
    --small-square-height: 10px;
    --small-square-width: 10px;

    --big-font: 100px;
    --small-font: 6px;

    --gradient: linear-gradient(to bottom right, red, yellow);
    --gradient2: linear-gradient(to bottom right, blue, green);
}

.red-square {
    width: 80 px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(0,255,0,0.4);
    display: inline-block;
}

#person {
    width: 100 px;
    height: 100px;
    color: #000;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(0,0,255,0.4);
    display: inline-block;
}

a { font-size: 22px;
    color: #F0F
}

.cascading-parent h2 {
    color: #F00;
}

.cascading-parent a {
    font-size: 32px;
    color: #0F0;
}

.site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.site-color {
    background-color: indigo;
    color: #FFF;
}

.site-square {
    width: 200px;
    height: 200px;
}

/* unvisted link */
a:link {
    color:red;
}

/* visited link */
a:visited {
    color:green;
}

/* mouse over link */
a:hover {
    color:pink;
}

/* selected link */
a:active {
    color:blue;
}

.big-square {
    width: var(--big-square-width);
    height: var(--big-square-height);
    color: var(--darker-red);
    padding: 20px;
    margin: 10px;
    font-size: var(--big-font);
    background-color: var(--black);
    display: inline-block;
}

.small-square {
    width: var(--small-square-width);
    height: var(--small-square-height);
    color: var(--white);
    padding: 20px;
    margin: 10px;
    font-size: var(--small-font);
    background-color: var(--lighter-red);
    display: inline-block;
}

.normal-font {
    font-family: var(--regular);
}

.fancy-font {
    font-family: var(--fancy);
}

.button-container a{
    width: 200px;
    padding: 10px;
    color: #FFF;
    background-color: #F00;

    /* Rounding the corners */
    border-radius: 10px;

    /* created with the shadow generator */
    -webkit-box-shadow: 42px 41px 38px 10px rgba(212,41,7,0.66);
    -moz-box-shadow: 42px 41px 38px 10px rgba(212,41,7,0.66);
    box-shadow: 42px 41px 38px 10px rgba(212,41,7,0.66);

    text-decoration: none;

    transition: all 0.5s ease;
}

.button-container a:hover {
    background-color: #AF1F16;
    text-decoration: none;    
}

.button2-container a{
    width: 200px;
    padding: 10px;
    color: #FFF;
    background-color: var(--black);

    /* Rounding the corners */
    border-radius: 10px;

    /* created with the shadow generator */
    -webkit-box-shadow: 42px 41px 38px 10px rgba(212,41,7,0.66);
    -moz-box-shadow: 42px 41px 38px 10px rgba(212,41,7,0.66);
    box-shadow: 42px 41px 38px 10px rgba(212,41,7,0.66);

    text-decoration: none;

    transition: all 0.5s ease;
}

.button2-container a:hover {
    background-color: var(--lighter-red);
    text-decoration: none;    
}

.button3-container a{
    width: 400px;
    height:600px;
    padding: 10px;
    color: #FFF;
    background-color: linear-gradient(red, yellow);

    /* Rounding the corners */
    border-radius: 10px;

    /* created with the shadow generator */
    -webkit-box-shadow: 42px 41px 38px 10px rgba(212,41,7,0.66);
    -moz-box-shadow: 42px 41px 38px 10px rgba(212,41,7,0.66);
    box-shadow: 42px 41px 38px 10px rgba(212,41,7,0.66);

    text-decoration: none;

    transition: all 0.5s ease;
}

.button3-container a:hover {
    background-color: linear-gradient(blue, green);
    text-decoration: none;    
}